body {
 margin: 0;
 background: #C0C0FF;
}

#header 
{
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 position: relative;
 text-align: center;
 width: 100%;
 font-size: 200%;
 font-weight: bold;
}

#menu {
 position: absolute;
 left: 0;
 top: 0;
 text-align: center;
 width: 150px;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;
 padding-right: 0;
 padding-top: 0;
 padding-bottom: 0;
 font-size: 90%;
 font-weight: bold;
 list-style-type: none;
 overflow: auto;
 height: 100%;
}

#menu[ id] {
 position: fixed;
}

#menu a {
 text-decoration: none;
 font-size: 125%;
 display: block;
}

#menu a:link,a:visited {
 color: #0000FF;
}

#menu a:hover {
 color: #FFFFFF;
}

#menu a.current {
 color: #000000;
 background: #A0A0FF;
 border-color: #A0A0FF;
}

#menu ul {
 margin-top: 5em;
 margin-left: 0;
 padding: 0;
 list-style-type: none;
}

#menu li {
 border-bottom: .25em;
 border-top: .25em;
 border-left: 0;
 border-right: 0;
 border-style: solid;
 border-color: #C0C0FF;
}

#content {
 position: relative;
 margin-left: 150px;
 padding: 10px;
 border-style: solid;
 border-width: 10px;
 border-color: #A0A0FF;
 border-right-width: 0px;
 text-align: justify;
 background: #FFFFFF;
}

#content h1 {
 margin: 0;
}

#content a:link, a:visited {
 color: blue;
 text-decoration: none;
}

#content h1.declaration {
 background: #FFFF99;
 margin: -10px;
 padding: 10px;
}

#declaration h1 {
 margin: 0;
}

#footer {
 position: relative;
 margin: 0;
 margin-left: 150px;
 padding: 10px;
 font-weight: bold;
 text-align: center;
}
